@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: #fff4f4; */
  font-family: poppins;
  background: linear-gradient(
    120deg,
    rgba(83, 0, 0, 1) 0%,
    rgba(255, 123, 123, 1) 100%
  );
}

.line-one {
  position: fixed;
  width: 15px;
  height: 100vh;
  background: #ff006a;
  left: 23%;F
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(
    120deg,
    rgba(83, 0, 0, 1) 0%,
    rgba(255, 123, 123, 1) 100%
  );
  /* justify-content: center;
  align-items: center; */
}

.line-two {
  position: fixed;
  width: 25px;
  height: 100vh;
  background: #ff8686;
  left: 25%;
}

nav {
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

nav:hover {
  background-color: #c6c5c5;
  transition: 0.4s;
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 270px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 35, 127);
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  position: fixed;
  left: 120px;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}

.iconnavbar {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-left: 30px;
}

.search {
  position: fixed;
  right: 160px;
}

.menu {
  position: fixed;
  right: 100px;
}

.img img {
  position: relative;
  width: 406px;
  left: 23.5%;
  margin-left: 27px;
  top: -29px;
  margin-top: 27px;
  border-radius: 24px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.title {
  position: fixed;
  position: absolute;
  top: 276px;
  left: 43%;
  line-height: 0.5;
  font-size: 115px;
  font-weight: 700;
  letter-spacing: -6px;
  color: white;
}

.title:hover {
  background: linear-gradient(
    120deg,
    rgba(69, 75, 199, 1) 0%,
    rgba(255, 59, 59, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease-in-out;
}

.title p {
  font-size: 25px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  margin-bottom: 11%;
  left: 250px;
  margin-left: 18px;
  letter-spacing: 10px;
}

.btn a {
  position: relative;
  text-decoration: none;
  bottom: 260px;
  right: -57%;
  text-transform: uppercase;
  background: #ff3131;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn a:hover {
  background: #000;
  color: #fff;
}

.year {
  font-weight: 700;
  position: fixed;
  top: 556px;
  left: 110px;
  padding: 10px 30px;
}

.media ul {
  list-style: none;
  position: fixed;
  right: 20px;
  top: 63%;
  padding: 10px 10px;
}

.media ul li {
  cursor: pointer;
  font-size: 18px;
  margin: 24px 0;
  transition: 0.3s;
}

.media ul li:hover {
  transform: scale(1.8);
}

@media (max-width: 700px) {
  .line-one {
    position: fixed;
    width: 15px;
    height: 100vh;
    background: #ff006a;
    display: none;
    left: 23%;
    right: 44%;
    margin-right: -62px;
  }

  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      120deg,
      rgba(83, 0, 0, 1) 0%,
      rgba(255, 123, 123, 1) 100%
    );
  }

  .line-one {
    position: fixed;
    width: 15px;
    height: 100vh;
    background: #ff006a;
    left: 23%;
  }

  .line-two {
    position: fixed;
    width: 25px;
    height: 100vh;
    display: none;
    background: #ff8686;
    left: 51%;
    right: 47%;
  }

  nav {
    z-index: 2;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 0;
  }

  nav ul {
    flex: 1;
    /* text-align: right; */
    padding-right: 14px;
    padding-left: 17px;
    /* margin-left: 122px; */
  }

  .iconnavbar {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-left: 30px;
  }

  .img img {
    position: relative;
    width: 266px;
    left: 8.5%;
    margin-right: 101px;
    margin-left: 38px;
    top: -70px;
    margin-top: 230px;
    border-radius: 14px;
    /* box-shadow: rgb(9, 14, 20) 0px 20px 30px -10px; */
    box-shadow: 0px 0px 32px 7px rgba(242, 158, 242, 1);
  }

  .title p {
    font-size: 29px;
    font-weight: 400;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 10%;
    left: 150px;
    margin-top: -81px;
    margin-left: 7px;
    padding-bottom: 25px;
    letter-spacing: 1px;
  }

  .title {
    position: fixed;
    position: absolute;
    top: 276px;
    left: 43%;
    line-height: 0.5;
    font-size: 75px;
    font-weight: 100;
    margin-left: -146px;
    letter-spacing: -5px;
    color: red;
  }
}
